<configuration>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- 로그 레벨, 메시지, 스레드, 예외, 타임스탬프 등 포함 -->
                <timestamp />
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <context />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="jsonConsole" />
    </root>
</configuration>
