<configuration>
    <appender name="jsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일을 일 단위로 나눔 -->
            <fileNamePattern>logs/app-log-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 30일치 로그를 유지 -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <context />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="jsonFile" />
    </root>
</configuration>
