.conv-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}

.conv-messages-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px; /* Space for buttons */
    margin-left: 20px;
    margin-right: 20px;
}

.conv-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    max-width: 80%;
    position: relative;
}

.conv-character-message {
    align-items: flex-start;
}

.conv-character-image {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

/* User response message styling */
.conv-user-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    align-self: flex-end;
    margin-bottom: 20px;
    position: relative;
    margin-top: 30px;
}

.conv-user-image {
    width: 80px; /* Image width */
    height: auto;
    margin-right: 10px; /* Space between image and bubble */
    margin-bottom: 30px; /* Adjust to move image closer to the bubble */
    position: absolute; /* Position the image absolutely */
    top: -60px; /* Move the image above the bubble */
    right: 0; /* Align the image to the right */
}

.conv-message-content {
    background-color: #ffddee;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    /* border: 2px solid black; /* Black border with 2px thickness */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */ 
    position: relative;
}
.conv-user-message-content {
    background-color: #ffddee;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    margin-top: 15px;
    /* border: 2px solid black; /* Black border with 2px thickness */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */ 
    position: relative;
}

.conv-buttons-bubble {
    background-color: #ffddee;
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid black; */
    max-width: 80%;
    align-self: flex-end;
    margin-top: 50px; /* Adjusted to prevent overlap with the image */
    margin-bottom: 20px; /* Ensure space at the bottom */
}

.conv-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end; /* Align the buttons to the right */
}

.conv-button {
    background-color: #e6588c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.conv-button:hover {
    background-color: #f7a8c5;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
