.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.result-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
    color: #555;
    margin: 10px 0;
    text-align: center;
}

p strong {
    color: #ff6b6b;
    font-weight: bold;
}

.score {
    font-size: 2rem;
    font-weight: bold;
    color: #f7a8c5;
    margin-top: 20px;
    text-align: center;
}

.button-container {
    margin-top: 30px;
}

.button-container button {
    background-color: #f7a8c5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #ffddee;
}

.button-container button:active {
    background-color: #ffddee;
}

.back-button {
    margin-top: 30px;
    background-color: #f7a8c5;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #ffddee;
}

.back-button:active {
    background-color: #ffddee;
}
.audio-player-container {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #fff;
}

.audio-player-container h3 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 20px; /* Increased space below the "Your Recording:" text */
}

audio {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    color: #fff;
    background-color: #fff;
}
.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }
  
  .custom-audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-color: #fff; /* Background color of the controls */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  